[submodule "cpp/external_libs/arrow/arrow"]
	path = cpp/external_libs/arrow/arrow
	url = https://github.com/apache/arrow
[submodule "cpp/external_libs/poco/poco"]
	path = cpp/external_libs/poco/poco
	url = https://github.com/pocoproject/poco
[submodule "cpp/external_libs/ray/ray"]
	path = cpp/external_libs/ray/ray
	url = https://github.com/ray-project/ray
[submodule "cpp/external_libs/glog/glog"]
	path = cpp/external_libs/glog/glog
	url = https://github.com/google/glog
[submodule "cpp/external_libs/googletest/googletest"]
	path = cpp/external_libs/googletest/googletest
	url = https://github.com/google/googletest
[submodule "cpp/external_libs/tbb/tbb"]
	path = cpp/external_libs/tbb/tbb
	url = https://github.com/intel/tbb
[submodule "cpp/external_libs/gperftools/gperftools"]
	path = cpp/external_libs/gperftools/gperftools
	url = https://github.com/gperftools/gperftools
[submodule "cpp/external_libs/nlohmann/nlohmann"]
	path = cpp/external_libs/nlohmann/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "cpp/external_libs/re2/re2"]
	path = cpp/external_libs/re2/re2
	url = https://github.com/google/re2.git
