[submodule "cpp/opensource/folly"]
	path = cpp/opensource/folly
	url = https://github.com/facebook/folly.git
[submodule "cpp/opensource/fizz"]
	path = cpp/opensource/fizz
	url = https://github.com/facebookincubator/fizz.git
[submodule "cpp/opensource/wangle"]
	path = cpp/opensource/wangle
	url = https://github.com/facebook/wangle.git
[submodule "cpp/opensource/arrow"]
	path = cpp/opensource/arrow
	url = https://github.com/apache/arrow.git
